<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="/css/styles.css">
        <link rel='icon' href='/images/weather.png'>
        <title>about</title>
    </head>
    <body>
        <div class='main-content'>
        {{>header}}
        <title>about</title>
        <img class = 'portrait' src='/images/1_cXACQDOvsF0_l3j_uAktGA.jpeg'>
        </div>
        {{>footer}}
    </body>
</html>